<button class="btn btn-success add" (click)="addCard()">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
</button>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Ссылка</th>
        <th>Категория</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.uri}}</td>
            <td>{{product.category}}</td>
        </tr>
    </tbody>
</table>
